<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel='stylesheet' href='../style/login.css' type='text/css'/>
</head>
<body>
	<div class="header">
	 	<div class="logo">
	 		<a href="#" class='logotype'>eLibrary</a>
	 	</div>
	 	<div class='search' align='center'>
	 		<input type='text' class='input-search' placeholder='search'/>
	 		<a href="#" class='header-button'>search</a>
	 	</div>
	 	<div class='registration' align="right">
	 		<a href='#' class='header-button'>registration</a>
	 	</div>
	</div>
	<div class='content' align='center'>
		<div class='login-form'>
			<input type='text' class='login-input' placeholder='login'/>
			<br/>
			<input type='password' class='login-input' placeholder='password'/>
			<br/>
			<a href='#' class='submit-form-button'>Login</a>
			<a href='#' class='submit-form-button'> Registration</a>
		</div>
		<footer>
			<p class='developers'> ©eLibrary <br/> Romankevych Pavlo <br/> Fedyna Mykhaylo</p>
		</footer>
	</div>
</body>
</html>