<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>eLibrary</title>
<link rel='stylesheet' href='../style/header.css' type='text/css'/>
<link rel='stylesheet' href='../style/navigation.css' type='text/css'/>
<link rel='stylesheet' href='../style/profile.css' type='text/css'/>
</head>
<body>
	<div class="header">
	 	<div class="logo">
	 		<a href="#" class='logotype'>eLibrary</a>
	 	</div>
	 	<div class='search' align='center'>
	 		<input type='text' class='input-search' placeholder='search'/>
	 		<a href="#" class='header-button'>search</a>
	 	</div>
	 	<div class='log-out' align="right">
	 		<a href='#' class='header-button'>Log out</a>
	 	</div>
	</div>
	<div id='left-part'>
		<div class='navigation-buttons'>
			<a href='#' class='navigation-button'>Search</a><br/>
			<a href='#' class='navigation-button'>My profile</a><br/>
			<a href='#' class='navigation-button'>My books</a><br/>
			<a href='#' class='navigation-button'>My upload books</a><br/>
			<a href='#' class='navigation-button'>My settings</a><br/>
			<a href='#' class='navigation-button'>Upload new book</a>
		</div>
	</div>
	<div id='right-part'>
		<div id='profile'>
			<div class='avatar-container'>
				<img alt="" src="" id='avatar'>				
			</div>
			<div class='information'>
				<!-- INFORMATION!!! -->
			</div>
		</div>
	</div>
</body>
</html>