<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ELibrary</title>
<link rel='stylesheet' href='../../style/login.css' type='text/css'/>
<link rel='stylesheet' href='../../style/header.css' type='text/css'/>
</head>
<body>

	<div class="header">
	 	<div class="logo">
	 		<a href="#" class='logotype'>eLibrary</a>
	 		<a href='#' class='lan'><img alt="" src="../../resources/images/ua.png" class='language'></a>
	 		<a href='#' class='lan'><img alt="" src="../../resources/images/en.jpg" class='language'></a>
	 	</div>
	 	<div class='search' align='center'>
	 		<input type='text' class='input-search' placeholder='search'/>
	 		<a href="#" class='header-button'>search</a>
	 	</div>
	 	<div class='sign-in' align="right">
	 		<a href='#' class='header-button' id='sign'>Sign in</a>
	 	</div>
	</div>
	
	<div class='place' align='center'>
		<div class='search-place'>
			<div class='search-form'>
				<div class='search-input'>
					<label class='search-label'>Search:</label> <input type='text'  class='search-input-form' id='searchValue'/>
					<a href="#" id='search-button' class='header-button'>search</a>
				</div>
				<div class='search-table'>
					<table id='search-table'></table>
				</div>
			</div>
		</div>
		
		<div class='login-place'>
			<div id='login-form'>
				<input type='text' class='login-input' placeholder='e-mail' id='email-input'/>
				<br/>
				<input type='password' class='login-input' placeholder='password' id='pass-input'/>
				<br/>
				<a href='#' class='submit-form-button'id='login'>Login</a>
				<a href='#' class='submit-form-button' id=registr> Registration</a>
			</div>
			<div id='registration'>
				<input type='text' class='login-input' placeholder='first name' id='firstName'/>
				<br/>
				<input type='text' class='login-input' placeholder='last name'id='lasttName'/>
				<br/>
				<input type='text' class='login-input' placeholder='email' id='email-reg'/>
				<br/>
				<input type='text' class='login-input' placeholder='password' id='pass'/>
				<br/>
				<input type='text' class='login-input' placeholder='confirm password'/>
				<br/>
				<input type='date' class='login-input' id='date'>
				<br/>
				<a href='#' id='submitRegistr' class='submit-form-button'>Registration</a>
			</div>
		</div>	
	</div>
	
		<footer align='center'>
			<p class='developers'> ©eLibrary <br/> Romankevych Pavlo <br/> Fedyna Mykhaylo</p>
		</footer>
</body>
<script type='text/javascript' id="one" src="../../script/login.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
</html>