<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>eLibrary</title>
<link rel='stylesheet' href='../../style/header.css' type='text/css'/>
<link rel='stylesheet' href='../../style/navigation.css' type='text/css'/>
<link rel='stylesheet' href='../../style/admin.css' type='text/css'/>
</head>
<body>
	<div class="header">
	 	<div class="logo">
	 		<a href="#" class='logotype'>eLibrary</a>
	 		<a href='#' class='lan'><img alt="" src="../../resources/images/ua.png" class='language'></a>
	 		<a href='#' class='lan'><img alt="" src="../../resources/images/en.jpg" class='language'></a>
	 	</div>
	 	<div class='search' align='center'>
	 		<input type='text' class='input-search' placeholder='search'/>
	 		<a href="#" class='header-button'>search</a>
	 	</div>
	 	<div class='log-out' align="right">
	 		<a href='#' class='header-button'>Log out</a>
	 	</div>
	</div>
	<div id='place'>
		<div id='chat'>
			<div id='text-chat'></div>
			<div id='input-div'>
				<input type='text' id='chat-text'/>
				<a href='#' id='submit-chat'>send</a>
			</div>
		</div>
		<div id='left-part'>
			<div class='navigation-buttons'>
				<a href='./searchBook_user.html' class='navigation-button'>Search</a><br/>
				<a href='./profile.html' class='navigation-button'>My profile</a><br/>
				<a href='./library_user.html' class='navigation-button'>My library</a><br/>
				<a href='./settings_user.html' class='navigation-button'>My settings</a><br/>
				<a href='./newBook_user.html' class='navigation-button'>Upload new book</a>
			</div>
		</div>
		<div id='right-part' align='center'>
			<label class='search-label'>Books:</label>
			<input type='text' placeholder='book' class='search-input'/><br/>
			<input type="checkbox" id="author" value="a1">Author&nbsp;&nbsp;&nbsp;
			<input type="checkbox" id="title" value="a2">Title&nbsp;&nbsp;&nbsp;
			<input type="checkbox" id="edition" value="a3">Edition&nbsp;&nbsp;&nbsp;<br/>
			<input type="checkbox" id="publisher" value="a4">Publisher&nbsp;&nbsp;&nbsp;
			<input type="checkbox" id="year" value="a5">Year&nbsp;&nbsp;&nbsp;
			<input type="checkbox" id="extention" value="a6">Extention&nbsp;&nbsp;&nbsp;<br/>
			<div class='table-place'>
				<table class='books-table'>
					<tr>
						<td>ISBN</td>
						<td>Title</td>
						<td>Author</td>
						<td>Edition</td>
						<td>Publisher</td>
						<td>Year</td>
					</tr>
				</table>
			</div>
		</div>
	 </div>
	<footer align='center'>
			<p class='developers'> ©eLibrary <br/> Romankevych Pavlo <br/> Fedyna Mykhaylo</p>
		</footer>
</body>
</html>
