<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>eLibrary</title>
<link rel='stylesheet' href='../../style/header.css' type='text/css'/>
<link rel='stylesheet' href='../../style/navigation.css' type='text/css'/>
<link rel='stylesheet' href='../../style/admin.css' type='text/css'/>
</head>
<body>
	<div class="header">
	 	<div class="logo">
	 		<a href="#" class='logotype'>eLibrary</a>
	 		<a href='#' class='lan'><img alt="" src="../../resources/images/ua.png" class='language'></a>
	 		<a href='#' class='lan'><img alt="" src="../../resources/images/en.jpg" class='language'></a>
	 	</div>
	 	<div class='search' align='center'>
	 		<input type='text' class='input-search' placeholder='search'/>
	 		<a href="#" class='header-button'>search</a>
	 	</div>
	 	<div class='log-out' align="right">
	 		<a href='#' class='header-button'>Log out</a>
	 	</div>
	</div>
	<div id='place'>
		<div id='chat'>
			<div id='text-chat'></div>
			<div id='input-div'>
				<input type='text' id='chat-text'/>
				<a href='#' id='submit-chat'>send</a>
			</div>
		</div>
		<div id='left-part'>
			<div class='navigation-buttons'>
				<a href='./searchUsers_admin.html' class='navigation-button'>Search Users</a><br/>
				<a href='./searchBooks_admin.html' class='navigation-button'>Search Books</a><br/>
				<a href='./changeBook_admin.html' class='navigation-button'>Change books</a><br/>
				<a href='./newBook_admin.html' class='navigation-button'>Upload new book</a>
			</div>
		</div>
		<div id='right-part' align='center'>
			<label class='search-label'>User login:</label>
			<input type='text' placeholder='login' class='search-input'/>
			<div class='table-place'>
				<table class='users-table'>
					<tr>
					<td>ID</td>
					<td>First Name</td>
					<td>Last Name</td>
					<td>login</td>
					<td>Email</td>
					<td>delete</td>
					</tr>
					<tr>
					<td>1</td>
					<td>TestUser</td>
					<td>TestUser</td>
					<td>TestUser</td>
					<td>TestUser@gmail.com</td>
					<td><a href="#">delete</a></td>
					</tr>
				</table>
			</div>
		</div>
	 </div>
	<footer align='center'>
			<p class='developers'> ©eLibrary <br/> Romankevych Pavlo <br/> Fedyna Mykhaylo</p>
		</footer>
</body>
</html>
