<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>eLibrary</title>
<link rel='stylesheet' href='../../style/header.css' type='text/css'/>
<link rel='stylesheet' href='../../style/navigation.css' type='text/css'/>
<link rel='stylesheet' href='../../style/myBook.css' type='text/css'/>
</head>
<body>
	<div class="header">
	 	<div class="logo">
	 		<a href="#" class='logotype'>eLibrary</a>
	 		<a href='#' class='lan'><img alt="" src="../../resources/images/ua.png" class='language'></a>
	 		<a href='#' class='lan'><img alt="" src="../../resources/images/en.jpg" class='language'></a>
	 	</div>
	 	<div class='search' align='center'>
	 		<input type='text' class='input-search' placeholder='search'/>
	 		<a href="#" class='header-button'>search</a>
	 	</div>
	 	<div class='log-out' align="right">
	 		<a href='#' class='header-button'>Log out</a>
	 	</div>
	</div>
	<div class='place'>
		<div id='chat'>
			chat
		</div>
		<div id='left-part'>
			<div class='navigation-buttons'>
				<a href='#' class='navigation-button'>Search</a><br/>
				<a href='#' class='navigation-button'>My profile</a><br/>
				<a href='#' class='navigation-button'>My books</a><br/>
				<a href='#' class='navigation-button'>My library</a><br/>
				<a href='#' class='navigation-button'>My upload books</a><br/>
				<a href='#' class='navigation-button'>My settings</a><br/>
				<a href='#' class='navigation-button'>Upload new book</a>
			</div>
		</div>
		<div id='right-part'>
			<div class='my-book-table'></div>
		</div>
	</div>
	<footer align='center'>
			<p class='developers'> ©eLibrary <br/> Romankevych Pavlo <br/> Fedyna Mykhaylo</p>
		</footer>
</body>
</html>